/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  margin: 0;
  font-size: 24px;
}


.TodoList {
  max-width: 400px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li span {
  flex-grow: 1;
  text-align: left;
  font-size: 18px;
}

button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c0392b;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  flex-grow: 1;
}

.add-button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #219451;
}
